* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    overflow-x: hidden;


}

header {
    background: linear-gradient(45deg, blue, white);
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
}

.estilo-header {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    margin-left: 90%;
    align-items: center;
}

.estilo-header svg {
    margin-left: 0 10px;
}

.form-pesquisa {
    margin: 0%;
    width: 50vw;
    height: 41px;
    border-radius: 4px
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar a.sidebar-active {
    border-left: 4px solid #00008b;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: #777;
}

.sidebar a.sidebar-active>svg {
    color: #777;
}


.sidebar {
    min-width: 15vw;
    max-width: 20vw;
    height: calc(100vh - 50px);
    background-color: white;
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #444;
}

.sidebar a:hover {
    border-left: 4px solid #00008b;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: #777;
}

.sidebar a>svg {
    color: #444;
}

.content {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 0;
    left: 20vw;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    height: calc(100vh - 40px);
}

.titulo {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.corpo {
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 59%;
}



.responsivo {
    position: relative;
}

/* Css para visualizar senha  */




.input-group-text {
    cursor: pointer;
    position: absolute;
    right: 29%;
    top: 60%;
    transform: translateY(-50%);
    color: black;
    border: none;
}

#olho {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.input-group-text-usuario {
    cursor: pointer;
    position: absolute;
    right: 68%;
    top: 71%;
    transform: translateY(20%);
    color: black;
    border: none;
}


/* diminuir tamanho do  label e input  */

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 10px;
}

.small-text {
    font-size: 12px;
    height: 27px;
}

/* diminuir tamanho do datatable */

th {
    font-size: 12px;
}

td {
    font-size: 10px;
}
