* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;

    
}

header {
    background: linear-gradient(45deg, blue, white);
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
}

.estilo-header {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: 90%; 
    align-items: center;
}

.estilo-header svg {
    margin-left: 0 10px;
}

.form-pesquisa {
    margin: 0%;
    width: 500px;
    height: 31px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar a.sidebar-active {
    border-left: 4px solid #00008b;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: #777;
}

.sidebar a.sidebar-active>svg {
    color: #777;
}


.sidebar {
    width: 15%;
    background-color: white;
   
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #444;
}

.sidebar a:hover {
    border-left: 4px solid #00008b;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: #777;
}

.sidebar a>svg {
    color: #444;
}

.content {
    width: 85%;
    background-color: rgb(230, 230, 230);
    padding: 20px;
}

.titulo {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.corpo {
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 65%;
}

/* Css para visualizar senha  */

  
  .input-group-text {
    cursor: pointer;
    position: absolute;
    right: 28%; 
    top: 84%;
    transform: translateY(-50%);
    color: black;
    border: none;
  }

#olho {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.input-group-text-usuario {
    cursor: pointer;
    position: absolute;
    right: 68%; 
    top: 71%;
    transform: translateY(20%);
    color: black;
    border: none;
}



